<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link id="theme-style" rel="stylesheet"  href="{% static "css/default.css" %}">
    {% comment %} <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> {% endcomment %}
    
    <title>Webapp</title>
</head>
<body>
    <style>
        body{
            padding-bottom: 60px;
        }
    </style>
    
    {% include "webapp/navbar.html" %}

    {% block content %}
    {% endblock content %}
    
    <!-- Corrected script tag -->
    
{% comment %} <script type="text/javascript">
    let staticPath = "{% static 'css' %}"; // Provide the correct path to your static CSS files
</script> {% endcomment %}

{% comment %} <script type="text/javascript" src="{% static "js/script.js" %}"></script> {% endcomment %}

    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->
    
</body>
</html>